<div class="landing-container">
  <section class="section-01">
    <div class="background"></div>
    <div class="content">
      <div class="left">
        <div class="title">
          잘나가는 설계사의<br/>
          영업 비밀, <strong>폴리오</strong>
        </div>

        <div class="sub-title">
          식상한 보장 분석은 이제 그만<br/>
          제대로 영업하고 싶은 당신을 위한 분석 서비스
        </div>
        <div class="btn-wrap">
          <button class="btn" (click)="onClickStart()">무료로 시작하기</button>
        </div>
      </div>

      <div class="right">
        <img src="/assets/images/el-landing-item-00.png" alt="">
      </div>
    </div>

  </section>

  <section class="section-02">
    <div class="header">
      <div class="title">
        보장 분석은 물론, 보험료 분석까지 한번에
      </div>

      <div class="sub-title">
        증권 정보 그대로 입력하기만 하면 보장과 보험료를 한번에 분석해드려요.
      </div>

      <div class="btn-wrap">
        <button class="btn" (click)="onClickStart()">무료로 시작하기</button>
      </div>
    </div>

    <div class="row-list">
      <div class="item">
        <span class="label">
          보장 분석
        </span>
        <div class="img">
          <img style="width: 372px;" src="/assets/images/el-landing-item-01.png" alt="">
        </div>
      </div>

      <div class="item">
        <span class="label">
          월 보험료
        </span>

        <div class="img">
          <img style="width: 602px;" src="/assets/images/el-landing-item-02.png" alt="">
        </div>
      </div>
    </div>


  </section>

  <section class="section-03">
    <div class="header">
      <div class="title">고객의 이해를 돕는 직관적인 리포트</div>

      <div class="sub-title">
        시각화된 자료로 보다 편하게 설명하고 고객의 신뢰를 얻으세요.
      </div>
      <div class="btn-wrap">
        <button class="btn" (click)="onClickStart()">무료로 시작하기</button>
      </div>
    </div>

    <div class="row-list">
      <div class="item">
        <span class="label">월 보험료</span>
        <div class="img">
          <img style="width: 310px;" src="/assets/images/el-landing-item-03.png" alt="">
        </div>
      </div>
      <div class="item">
        <span class="label">총 보험료</span>
        <div class="img">
          <img style="width: 309px;" src="/assets/images/el-landing-item-04.png" alt="">

        </div>
      </div>
      <div class="item">
        <span class="label">총 보험료 차액 계산</span>
        <div class="img">
          <img style="width: 309px;" src="/assets/images/el-landing-item-05.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="section-04">
    <div class="header">
      <div class="title">
        설득력을 높이는 디테일한 분석 결과
      </div>
      <div class="sub-title">
        전문성을 어필해 계약 성공률을 높이세요.
      </div>
      <div class="btn-wrap">
        <button class="btn" (click)="onClickStart()">무료로 시작하기</button>
      </div>
    </div>


    <div class="column-list">
      <div class="item">
        <img class="img" src="/assets/images/el-landing-item-06.png" alt="">
        <div class="text">
        <span class="label">
          “보장이랑 상관없는 돈을 이만큼이나 내고 있어요.”
        </span>
        </div>
      </div>
      <div class="item">
        <img class="img" src="/assets/images/el-landing-item-07.png" alt="">
        <div class="text">
          <span class="label">
            “같은 비용으로 보장 기간을 더 늘릴 수 있어요.”
          </span>
        </div>
      </div>
      <div class="item">
        <img class="img" src="/assets/images/el-landing-item-08.png" alt="">
        <div class="text">
        <span class="label">
          “더 탄탄해지는 보장을 한눈에 확인하세요.”
        </span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-05">
    <div class="title">
      이런 분께 추천해요
    </div>
    <div class="circle-list">
      <div class="item">
        <div class="circle">
          <div class="icon">
            <img src="/assets/images/el-circle-01.svg" alt="">
          </div>
          <div class="index">
            <span>01</span>
          </div>
          <div class="text">
            <p>제대로 영업하고 싶은데</p>
            <p>방법을 몰라 답답하신 분</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="circle">
          <div class="icon">
            <img src="/assets/images/el-circle-02.svg" alt="">
          </div>
          <div class="index">
            <span>02</span>
          </div>
          <div class="text">
            <p>기존 보장분석 프로그램에</p>
            <p>불만이 있으셨던 분</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="circle">
          <div class="icon">
            <img src="/assets/images/el-circle-03.svg" alt="">
          </div>
          <div class="index">
            <span>03</span></div>
          <div class="text">
            <p>고객과 상담할 때 유용한</p>
            <p>리포트가 필요하신 분</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-06">
    <div class="title">폴리오 리포트로 상담 받은 고객 후기</div>

    <div class="review-container">
      <div class="review-list">
        <div class="item">
          <div class="name">소**님</div>
          <div class="text">
            <p>저희 가족이 현재 어떠한 보험을 들고 있는지 상세하게 알게되었고</p>
            <p>재설계를 통해 보험 비용을 아끼면서 보험에 대한 방향성을</p>
            <p>설정하게 되었습니다.</p>
          </div>
        </div>
        <div class="item">
          <div class="name">Oon***님</div>
          <div class="text">
            <p>설명해주신대로, 기존 보험 상품만 리빌딩했을 뿐인데,</p>
            <p>한 달에 30만원 이상의 잉여자금이 생기고 전체적인 현금흐름까지</p>
            <p>플러스로 바뀌는 매직!!을 보게 되었어요.</p>
          </div>
        </div>
        <div class="item">
          <div class="name">a;ss****님</div>
          <div class="text">
            <p>반식반의한 마음에 쉽게 정리하겠다는 결심이안들었는데</p>
            <p>상담을통해 어떻게 해야하는지 확실하게 알 수 있었습니다.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-07">
    <div class="background"></div>
    <div class="title">지금 바로 무료로 사용해 보세요.</div>
    <div class="btn-wrap">
      <button class="btn" (click)="onClickStart()">무료로 시작하기</button>
    </div>
  </section>
</div>
