@import "../../../assets/scss/utils/variables";

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px -7px rgba(160, 175, 180, 0.15), 0px 4px 16px rgba(160, 175, 180, 0.05);

  .inner {
    max-width: 1250px;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .logo {
      width: 55px;
      height: 21px;
      background-image: url("/assets/images/ico-logo.svg");
      background-size: cover;
    }
    .nav-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .nav-item {
        cursor: pointer;
        padding: 7px 10px;
        margin-left: 32px;
        font-size: 13px;
        line-height: 167%;
        color: $black-80;
        &:first-child {
          margin-left: 0;
        }

        &.is-active {
          font-weight: bold;
          line-height: 167%;
        }

        &:hover {
          background: rgba(20, 50, 67, 0.06);
          border-radius: 10px;
        }
      }

      .user {
        cursor: pointer;
        margin-left: 46px;
        display: flex;
        align-items: center;
        padding: 5px 10px;

        .name {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 167%;
          margin-right: 2px;
        }

        .image{
          margin-left: 10px;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          background-color: $logo;
        }

        &:hover {
          background: rgba(20, 50, 67, 0.06);
          border-radius: 10px;
        }
      }

      .btn-wrap {
        width: 105px;
        margin-left: 46px;
      }
    }
  }
}
