@import "../../../../assets/scss/utils/variables";

.recent-insurance-template-wrap {
  cursor: pointer;
  box-shadow: 0px 4px 15px -7px rgba(147, 182, 193, 0.31);
  filter: drop-shadow(0px 4px 31px rgba(147, 182, 193, 0.17));

  &:hover {
    box-shadow: 0px 10px 20px -7px rgba(147, 182, 193, 0.6);
    filter: drop-shadow(0px 4px 31px rgba(147, 182, 193, 0.2));
  }

  > .insurance {
    padding: 30px 20px;
    background: #FFFFFF;
    border-radius: 10px;
    > .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid $black-10;
      padding-bottom: 24px;
      margin-bottom: 24px;

      > .image-wrap {
        > .image {
          width: 48px;
          height: 48px;
          background-color: $secondary;
          border-radius: 30px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

        }
      }

      > .title {
        font-weight: bold;
        font-size: 15px;
        line-height: 167%;
        position: relative;
        display: inline-block;
        margin-top: 14px;

        > .company {
          color: $secondary;
        }
      }
    }

    > .content {
      padding: 0 12px;
      > .item {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 167%;
        margin-top: 16px;
        &:first-child {
          margin-top: 0;
        }

        > .label {
          color: $black-60;
        }
        > .value {
          span {
            font-weight: 500;
            color: $black;
          }
        }
      }
    }
  }

  > .tag-container {
    background: #F8FAFB;
    min-height: 215px;
    border-radius: 10px;
    padding: 30px;

    > .title {
      font-weight: bold;
      font-size: 15px;
      line-height: 167%;
    }
    > .tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 12px;
      width: 100%;

      > .tag {
        display: flex;
        align-items: center;
        padding: 10px 20px 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 167%;
        background: #E3EAF0;
        border-radius: 50px;
        color: $black-80;

        > .dot {
          width: 4px;
          height: 4px;
          background: $black-80;
          border-radius: 4px;
          margin-right: 5px;
          &:first-child {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
