<div class="modal-wrap is-open" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <div class="modal-img"></div>
      <p class="modal-txt">비밀번호</p>
    </div>

    <div class="modal-body">
      <form [formGroup]="passwordEditForm">
        <div class="form-input-with-delete">
          <input type="password" autocomplete="old-password"
                 placeholder="기존 패스워드" class="form-input"
                 [class.error]="isShowValidLine && !passwordEditForm?.get('old_password')?.valid"
                 [tabIndex]="1" [formControlName]="'old_password'">
          <button class="btn-icon btn-delete" (click)="passwordEditForm?.get('old_password')?.setValue('')">삭제</button>
        </div>
        <div class="form-input-with-delete">
          <input type="password" autocomplete="new-password"
                 [class.error]="isShowValidLine && !passwordEditForm?.get('new_password1')?.valid"
                 placeholder="새 패스워드" class="form-input" [tabIndex]="2" [formControlName]="'new_password1'">
          <button class="btn-icon btn-delete" (click)="passwordEditForm?.get('new_password1')?.setValue('')">삭제</button>
        </div>
        <div class="form-input-with-delete">
          <input type="password" autocomplete="new-password"
                 [class.error]="isShowValidLine && !passwordEditForm?.get('new_password2')?.valid"
                 placeholder="새 패스워드 확인" class="form-input" [tabIndex]="3" [formControlName]="'new_password2'">
          <button class="btn-icon btn-delete" (click)="passwordEditForm?.get('new_password2')?.setValue('')">삭제</button>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button class="btn-medium btn-line-gray" (click)="onClose()">취소</button>
      <button class="btn-medium btn-solid-primary" (click)="onSave()">저장</button>
    </div>
  </div>
</div>
