.form-group {
  width: 100%;
  position: relative;
  + .form-group {
    margin-top: 8px;
  }

  .form-input-wrap {
    margin-top: 32px;
    &:first-child {
      margin-top: 0;
    }
  }

  .form-label + .form-input-wrap {
    margin-top: 0;
  }

  &.error {
    // input
    .form-input {
      border-color: $error;
    }
    // interest list check box
    .form-tag-area {
      .custom-check {
        border-color: $error;
      }
    }
    // select box dropdown
    .custom-select {
      border-color: $error;
    }
    .is-open {
      .custom-select {
        border-color: $error;
      }
    }
    .custom-dropdown {
      border-color: $error;
    }
  }
}


.form-input-wrap {
  position: relative;
  display: flex;
  align-items: center;

  .input-wrap {
    position: relative;
    width: 100%;
  }

  &.price, &.age, &.percent {
    &:after {
      position: absolute;
      content: '원';
      right: 13px;
      color: $black-60;
    }

    .form-input {
      position: relative;
      padding-right: 28px;
      text-align: right;
    }
  }

  &.button {
    .form-input {
      position: relative;
      padding-right: 60px;
    }

    button {
      position: absolute;
      width: 40px;
      text-align: center;
      right: 20px;
      color: $black-60;
    }
  }

  &.age {
    &:after {
      content: '세';
    }
  }

  &.percent {
    &:after {
      content: '%';
    }
  }

  &.big-price {
    &:after {
      position: absolute;
      content: '만원';
      right: 13px;
      color: $black-60;
    }

    .form-input {
      position: relative;
      padding-right: 41px;
      text-align: right;
    }
  }

  &.with-select {
    .form-dropdown-wrap {
      margin-left: 8px;
      min-width: 100px;
      max-width: 100px;

      &.refund_type {
        min-width: 125px;
        max-width: 125px;
      }
    }
  }

  &.error {
    .form-input {
      border: 1px solid $error;
    }
    .error-message {
      display: block;
    }
  }

  .error-message {
    display: none;
    position: absolute;
    font-size: 12px;
    line-height: 167%;
    margin-top: 4px;
    text-align: right;
    width: 100%;

    &.bottom {
      bottom: -24px;
    }

    color: $error;
  }

  .btn-delete {
    position: absolute;
    top: 0;
    right: -14px;
    width: $input-height;
    height: $input-height;
    opacity: 0;

    background-image: url('/assets/images/el-delete-black.svg');
    //&.white {
    //  background-image: url('/assets/images/el-delete-white.svg');
    //}
  }

  .form-input { // delete button 보이기
    &:not(:disabled){
      &:focus {
        //padding-right: $input-height;
        //+ .btn-delete {
        //  opacity: 1;
        //}
      }
    }
  }

  &.search {
    display: flex;
    align-items: center;
    .form-input {
      position: relative;
      padding-left: 40px;
    }

    &:before {
      position: absolute;
      content: '';
      left: 12px;
      background-image: url("/assets/images/ico-search.svg");
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
    }
  }

  .unit {
    color: $black-60;
    margin-left: 14px;
  }
}

.form-input {
  display: block;
  flex: 1;
  width: 100%;
  height: $input-height;
  background: rgba(227, 234, 240, 0.5);
  border: 1px solid transparent;
  padding: 10px 16px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: inset 0px 4px 10px -4px rgba(20, 50, 67, 0.3), inset 0px 4px 15px -5px rgba(20, 50, 67, 0.24);
  border-radius: 10px;
  font-size: 14px;
  line-height: 167%;
  /* or 24px */
  color: $black;

  &::placeholder {
    color: $black-30;
  }

  &:not(:disabled){
    &:focus {
      border-color: $secondary;
      outline: none;
    }
  }

  &.form-textarea {
    height: 100%;
    padding: 13px 17px;
    resize: none;
  }

  &.right {
    text-align: right;
  }

  //& + .form-input {
  //  margin-top: 16px;
  //}
}

.form-label {
  position: relative;
  display: flex;
  min-width: 80px;
  margin-right: 12px;

  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 167%;
  color: $black-80;
  &.required {
    padding-left: 9px;
    &:before {
      position: absolute;
      content: '*';
      left: 0;
      top: 3px;
    }
  }
  .ico-tooltip {
    margin-top: 1px;
    margin-bottom: unset;
    width: 18px;
    height: 18px;
  }

  .sub-label {
    color: $black-60;
  }

  &.mgb16 {
    margin-bottom: 16px;
  }
  small {
    margin-left: 8px;
    font-size: 12px;
    color: $primary;
  }
  & + .form-label-desc {
    margin: 0 0 16px;
  }
}

.form-label-desc {
  margin: 8px 0;
  font-size: 13px;
  color: $black-50;
}

.form-input-wrap-search {
  position: relative;
  .btn-search {
    position: absolute;
    top: 0;
    left: 0;
    width: $input-height;
    height: $input-height;
    opacity: 0.3;
  }
  .form-input {
    padding-left: $input-height;
    &:focus + .btn-search {
      opacity: 1;
    }
  }
}

.form-tag-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-check-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 400;
  overflow: hidden;
  cursor: pointer;
  &.error {
    .custom-check {
      border-color: $error;
    }
  }
  &.tag-style {
    margin-right: 8px;
    margin-bottom: 12px;

    .custom-check {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 24px;
      height: 40px;
      border: 1px solid $black-10;
      border-radius: 20px;
      font-size: 14px;
      color: $black-40;
    }

    .form-check {
      @media (any-hover: hover) {
        &:hover + .custom-check {
          border-color: $secondary;
          //background-image: url('/assets/images/ico-check-white.svg');
          background-color: $secondary;
          color: $white;
          background-image: none;
        }
      }
      &:checked + .custom-check {
        padding: 0 14px;
        background-color: $secondary;
        background-image: none;
        color: #fff;
        .tag-icon {
          display: block;
        }
      }
    }

    .tag-icon {
      display: none;
      margin-left: 6px;
      width: 14px;
    }
  }

  .form-check {
    position: absolute;
    top: -100%;
    left: -100%;
    opacity: 0;

    @media (any-hover: hover) {
      &:hover + .custom-check {
        background-image: url('/assets/images/ico-check-box-hover.svg');
        background-color: $black-15;
      }


      &:hover + .custom-label-txt + .custom-check {
        background-image: url('/assets/images/ico-check-box-hover.svg');
        background-color: $black-15;
      }
    }

    &:checked + .custom-check {
      background-image: url('/assets/images/ico-check-box-active.svg');
    }

    &:checked + .custom-label-txt + .custom-check {
      background-image: url('/assets/images/ico-check-box-active.svg');
    }
  }

  .custom-check {
    flex-shrink: 0;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: transparent;
    //border: 1px solid $black-15;
    background-image: url('/assets/images/ico-check-box.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }

  .custom-label-txt {
    font-size: 14px;
    letter-spacing: -0.2px;
    color: $black-90;
    margin-left: 4px;

    a {
      text-decoration: underline;
    }
  }
}

.form-radio-flex-wrap {
  display: flex;
  .form-radio-wrap {
    flex: 1;
  }
}

.form-radio-group-wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;

  .form-radio-wrap + .form-radio-wrap {
    padding-left: 20px;
  }

  .error-message {
    display: none;
    position: absolute;
    bottom: -12px;
    right: 0;
    font-size: 12px;
    line-height: 167%;
    margin-top: 4px;

    color: $error;
  }

  &.error {
    .error-message {
      display: block;
    }

    .custom-radio {
      border: 1px solid $error;
    }
  }
}

.form-radio-wrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  font-weight: 400;
  overflow: hidden;
  cursor: pointer;

  .form-radio {
    position: absolute;
    top: -100%;
    left: -100%;
    opacity: 0;

    &:checked + .custom-radio::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $primary;
    }
  }

  .custom-radio {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $black-15;
  }
  .custom-label-txt {
    margin-left: 6px;
    font-size: 14px;
    color: $black-90;
    letter-spacing: -0.4px;
  }
}

.form-dropdown-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: $input-height;
  //background-color: #fff;
  font-size: 14px;
  color: $black-60;

  &.half {
    width: 50%;
  }

  &.error {
    .custom-select {
      border: 1px solid $error;
    }

    .error-message {
      display: block;
    }
  }

  .error-message {
    display: none;
    position: absolute;
    font-size: 12px;
    line-height: 167%;
    margin-top: 4px;
    text-align: right;
    width: 100%;

    color: $error;
  }

  &.time-with-date {
    width: auto;
    flex: 2;
  }

  &.right {
    .custom-select {
      justify-content: flex-end;
      padding-right: 40px;
    }
    .dropdown-item {
      justify-content: flex-end;
      padding-right: 40px !important;
    }
  }

  //&.selected {

  &:focus {
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(20, 50, 67, 0.3), 0px 4px 4px -2px rgba(20, 50, 67, 0.08);
    .custom-select {
      padding-bottom: 1px;
      border-radius: 10px;
      //background: #F1F4F7;
      border: 1px solid #20D9E5;
      //box-shadow: unset;
      //border-bottom: 0;
      color: $black;
      z-index: 2;
      &::after {
        opacity: 1;
        transform: rotate(180deg);
      }

      //&:hover {
      //  background: $hover;
      //  color: $white;
      //  &::after {
      //    background-image: url('/assets/images/el-dropdown-white.svg');
      //  }
      //}
      &:active {
        background-color: $active;
      }
    }

    .custom-dropdown {
      display: block;
      visibility: visible;
    }
  }

  .custom-select {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    height: $input-height;
    border: 0;
    background-color: #F1F4F7;
    /* Input */
    color: $black;

    box-shadow: inset 0px 4px 9px -4px rgba(20, 50, 67, 0.3), inset 0px 4px 13px -5px rgba(20, 50, 67, 0.3);
    border-radius: 10px;
    &::after {
      content: '';
      position: absolute;
      right: 11px;
      width: 24px;
      height: 24px;
      background-image: url('/assets/images/el-dropdown-black.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.35s;
    }
  }

  .custom-dropdown {
    position: relative;
    top: 6px;
    left: 0;
    right: 0;
    display: none;
    max-height: $input-height * 4.5;
    border-radius: 10px;
    //box-shadow: 0 4px 8px 0 $black-15;

    border: 1px solid #20D9E5;
    //border-top: 0;
    background-color: #F1F4F7;
    box-shadow: 0px 4px 5px rgba(20, 50, 67, 0.3), 0px 4px 4px -2px rgba(20, 50, 67, 0.08);

    overflow-y: auto;
    z-index: 1;
    //opacity: 0;
    visibility: hidden;

    .dropdown-item {
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: $input-height;
      color: $black;
      &:hover {
        background: $hover;
        color: $white;
      }

      &.active, &:active {
        background-color: $active;
        color: $white;
      }

      &.selected {
        background-color: #F2F2F2;
      }
    }
  }
}

.toggle-check-wrap {
  position: relative;
  margin: 0 8px;

  .form-check {
    position: absolute;
    top: -100%;
    left: -100%;
    &:checked + .toggle-group {
      background-color: $primary;
      &::after {
        left: 22px;
      }
    }
    &:not(:checked) + .toggle-group {
      background-color: $black-10;
      &::after {
        left: 2px;
      }
    }
  }

  .toggle-group {
    position: relative;
    display: block;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    transition: background-color 0.2s;
    &::after {
      content: '';
      position: absolute;
      top: 2px;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 $black-20;
      transition: left 0.2s;
    }
  }
}

.form-input-verify {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.verify-timer {
  position: absolute;
  top: 0;
  right: 16px;
  font-family: $font-set;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  font-size: 16px;
  color: $secondary;
  &.is-expired {
    color: $black-20;
  }
}

