@import "../../../assets/scss/utils/variables";

.customer-agree-container {
  width: 100%;
  height: 100vh;
  padding: 0 24px;
  background-color: white;

  > .header {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    > .title {
      font-size: 18px;
      line-height: 148%;
    }
  }

  section {
    margin-top: 32px;

    &.header-section-container {
      margin-top: 20px;
    }

    > .header {
      margin-bottom: 16px;
      > .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 148%;
      }
    }

    p {
      color: $black-80;
    }

    .number {
      margin-top: 18px;
      font-size: 16px;
      line-height: 167%;
      color: $black;
      &:first-child {
        margin-top: 0;
      }
    }

    .description {
      margin-top: 18px;
      color: $black-40;
    }

    .dot {
      position: relative;
      padding-left: 12px;
      margin-top: 4px;
      &:before {
        content: '';
        position: absolute;
        left: 2px;
        top: 7px;
        width: 4px;
        height: 4px;
        background-color: $black-80;
        border-radius: 50px;
      }
    }
  }
  .div {
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background-color: $black-10;
  }

  .agree-section {
    margin-top: 32px;
  }

  .btn-wrap {
    margin-top: 32px;
  }
}

.agree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  > .icon {
    width: 40px;
    height: 40px;
    background-image: url("/assets/icons/ico-agree.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  > .title {
    margin-top: 14px;
    font-weight: bold;
    font-size: 20px;
    line-height: 167%;
  }
  > .sub-title {
    margin-top: 2px;
  }
}
