<ng-template [ngIf]="footer$ | async">
  <div class="footer-container">
    <div class="inner">
      <div class="logo"></div>
      <div class="info-container">
        <div class="title">주)서울엘엔에스금융컨설팅</div>
        <div class="info-list">
          <div class="row">
            <div class="item">대표 : 황희철</div>
            <div class="div"></div>
            <div class="item">사업자 등록번호 : 109-86-17632</div>
            <div class="div"></div>
            <div class="item">주소 : 서울시 금천구 서부샛길 606, 디폴리스 A동 2409호</div>
          </div>
          <div class="row">
            <div class="item">통신 판매업 신고번호 : 2021 - 서울구로 - 1990</div>
            <div class="div"></div>
            <div class="item">CS 문의 : <a href="mailto:hello@foliio.co.kr">hello@foliio.co.kr</a></div>
            <div class="div"></div>
            <div class="item"><a href="https://pharmplus.notion.site/3d127218655e4eb9a20c1458921ad527" target="_blank">이용약관</a>
            </div>
            <div class="div"></div>
            <div class="item"><a href="https://pharmplus.notion.site/4e59a6ebde0049c1a990be8e66f05393" target="_blank">개인정보
              처리 방침</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

