@import "../../../assets/scss/utils/variables";

.box-container {
  padding: 40px 60px;
  width: 550px;

  background-color: $white;
  box-shadow: 0px 4px 15px -7px rgba(147, 182, 193, 0.31), 0px 4px 31px rgba(147, 182, 193, 0.17);
  border-radius: 10px;

  z-index: 10;

  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
  }

  .sub-title {
    color: $black-80;
    text-align: center;
    font-size: 14px;
    line-height: 159%;
  }

  .form-group {
    margin-top: 32px;
  }

  .btn-wrap {
    margin-top: 36px;
  }

  section {
    .title {
      text-align: left;
    }
  }

  section + section {
    margin-top: 44px;
  }

  .form-label {
    color: $black;
    min-width: 100px;
  }

  &.done-alert {
    .sub-title {
      margin-top: 7px;
    }
    .btn-wrap {
      margin-top: 32px;
    }
  }
}
