// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$bbakdok-primary: mat-palette($mat-indigo);
//$bbakdok-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$bbakdok-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
//$bbakdok-theme: mat-light-theme($bbakdok-primary, $bbakdok-accent, $bbakdok-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($bbakdok-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


// utils 최상위
@import "assets/scss/utils/variables.scss";

@import "assets/scss/base/reset.scss";
@import "assets/scss/base/common.scss";

@import "assets/scss/components/bar_graph.scss";
@import "assets/scss/components/button.scss";
@import "assets/scss/components/event.scss";
@import "assets/scss/components/form.scss";
@import "assets/scss/components/_pagination.scss";
@import "assets/scss/components/modal.scss";
@import "assets/scss/components/star_rating.scss";
@import "assets/scss/components/tab.scss";
@import "assets/scss/components/toast.scss";

html, body {
  height: 100%;
  overflow-x: hidden;
}

app-root {
  position: relative;
  display: inline-block;
  width: 100%;
}

.show-link {
  text-decoration: underline !important;
  cursor: pointer;
}
