@import "../../../../assets/scss/utils/variables";
.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/el-close-gray.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section {
  > .header {
    margin-bottom: 16px;
    > .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 148%;
    }
  }

  p {
    color: $black-80;
  }

  .number {
    margin-top: 18px;
    font-size: 16px;
    line-height: 167%;
    color: $black;
    &:first-child {
      margin-top: 0;
    }
  }

  .description {
    margin-top: 18px;
    color: $black-40;
  }

  .dot {
    position: relative;
    padding-left: 12px;
    margin-top: 4px;
    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 7px;
      width: 4px;
      height: 4px;
      background-color: $black-80;
      border-radius: 50px;
    }
  }
}

