.payment-container {
  margin-top: 24px;

  > .header {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px -7px rgba(147, 182, 193, 0.31), 0px 4px 31px rgba(147, 182, 193, 0.17);
    border-radius: 10px;
    display: flex;
    padding: 15px 22px;
  }

  .cell {
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: flex-end;
  }

  .name {
    flex: 1;
    justify-content: flex-start;
    strong {
      font-weight: bold;
      font-size: 15px;
      line-height: 167%;
      margin-right: 2px;
    }
  }
  .status {
    min-width: 150px;
  }
  .price {
    min-width: 150px;
  }
  .period {
    min-width: 310px;
  }
  .etc {
    width: 80px;
    padding-right: 16px;
  }

  .item {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px -7px rgba(147, 182, 193, 0.31), 0px 4px 31px rgba(147, 182, 193, 0.17);
    border-radius: 10px;
    display: flex;

    padding: 32px 22px 30px;
    margin-top: 12px;
  }
}


.nothing {
  margin-top: 206px;
}
